body {
  background-image: url(https://tse1.mm.bing.net/th?id=OIP.uOJ-YF3TSIRAvc13JKAdZwHaE8&pid=Api&P=0&w=246&h=165S);
}

div.header {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  padding-top: 7px;
  padding-bottom: 7px;
  background: url("https://tse3.mm.bing.net/th?id=OIP.GmCS6L4fvtjtK4x_mtbsjgHaEo&pid=Api&P=0&w=251&h=158");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  
}
a {
  color: white; 
}

#nav{
  text-align: center;
  
}
@media screen and (min-width: 600px) {
  div.example {
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}
#mail {
  width: 40px; 
  height: 40px;
}
#linkedin{
  width: 40px; 
  height: 40px;
}
 #github{
  width: 40px; 
  height: 40px;
}
#whatsapp{
  width: 40px; 
  height: 40px;
}

.info {
  font-size: 15px;
  font-family: 'Inconsolata', monospace;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}
.info p {
  line-height: 1.5;
  
}

h3 {
  background-color: black;
  color: white;
  padding-left: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#footer {
  text-align: center;
  font-family: 'Inconsolata', monospace;
  padding: 3px;
  background: url("https://tse3.mm.bing.net/th?id=OIP.GmCS6L4fvtjtK4x_mtbsjgHaEo&pid=Api&P=0&w=251&h=158");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-style: italic, sans-serif;
}